[tool.poetry]
name = "headless-kivy-pi"
version = "0.5.6"
description = "Headless renderer for Kivy framework on Raspberry Pi"
authors = ["Sassan Haradji <sassanh@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "headless_kivy_pi" }]


[[tool.poetry.source]]
name = "PyPI"
priority = "primary"


[tool.poetry.dependencies]
python = "^3.11"
typing-extensions = "^4.8.0"

numpy = { version = "^1.24.2", source = 'PyPI' }
kivy = { version = "^2.2.1", source = 'PyPI' }
adafruit-circuitpython-rgb-display = { version = "^3.11.0", markers = "platform_machine=='aarch64'" }
adafruit-circuitpython-aw9523 = { version = "^1.1.7", markers = "platform_machine=='aarch64'" }

poethepoet = { version = "^0.24.2", optional = true }
screeninfo = { version = "^0.8.1", optional = true }

[tool.poetry.extras]
dev = ['poethepoet', 'screeninfo']

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
lint = "pyright -p pyproject.toml ."

[tool.ruff]
select = ['ALL']
ignore = []

fixable = ['ALL']
unfixable = []

[tool.ruff.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "double"

[tool.ruff.format]
quote-style = 'single'
